<ion-view view-title="UsersAll">
 <ion-content>
   <ion-list>
     <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/tab/users/{{user.id}}">
       <h2><b>ID: </b>{{user.id}}</h2>
         <p><b>Prénom: </b>{{user.firstname}}</p>
         <p><b>Nom: </b>{{user.name}}</p>
         <p><b>Promo: </b>{{user.promo}}</p>
         <p><b>E-mail: </b>{{user.email}}</p>
         <p><b>Veilles: </b>{{user.veilles}}</p>
     </ion-item>
   </ion-list>
 </ion-content>
</ion-view>
