<ion-view view-title="UserID">
   <ion-content class="padding">
       <h2>{{user.firstname}}</h2>

       <p><b>ID: </b>{{user.id}}</p>
         <p><b>Prénom: </b>{{user.firstname}}</p>
         <p><b>Nom: </b>{{user.name}}</p>
         <p><b>Promo: </b>{{user.promo}}</p>
         <p><b>E-mail: </b>{{user.email}}</p>
         <p><b>Veilles: </b>{{user.veilles}}</p>
         <ion-item ng-repeat="veille in veilles" href="#/tab/veilles/{{veille.id}}">
             <h2>{{veille.title}}</h2>
             <p>{{veille.description}}</p>
             <p>{{veille.type}}</p>
             <p>{{veille.date}}</p>
             <button class="button button-small button-calm">
               Modifier
             </button>
             <button class="button button-small button-assertive">
               Supprimer
             </button>
           </ion-item>
   </ion-content>
</ion-view>
