<ion-view view-title="VeilleID">
   <ion-content class="padding">
       <h2>{{veille.title}}</h2>

       <p><b>Date de publication:</b> {{veille.date}}</p>
       <p><b>ID Veille:</b> {{veille.id}}</p>
       <p><b>Type:</b> {{veille.type}}</p>
       <p><b>Description:</b> {{veille.description}}</p>
       <br>
       <p><b>Source:</b> {{veille.source}}</p>
       <p><b>Lien Slide:</b> {{veille.link}}</p>
       <p><b>Fichier:</b> {{veille.filename}}</p>
       <p><b>Extension:</b> {{veille.fileext}}</p>
       <br>
       <p><b>ID User:</b> {{veille.id_user}}</p>
       <p><b>Prénom:</b> {{veille.id_user.firstname}}</p>
       <p><b>Nom:</b> {{user.name}}</p>
       <p><b>Email:</b> {{user.email}}</p>
       <p><b>Promo:</b> {{user.promo}}</p>
   </ion-content>
</ion-view>
